body {
    font-family: Arial, sans-serif;
    background-image: url(1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0095ffc8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    width: 500px;
    text-align: center;
}
.logo {
    width: 400px;
    height: auto;
    margin-bottom: 20px; 
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

input, select {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    font-weight: bold;
    margin-top: 10px;
}

#hint {
    color: rgb(255, 0, 0);
}

#score {
    margin-top: 10px;
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Reduce width on tablets and smaller screens */
    }

    h1 {
        font-size: 20px;
    }

    button {
        padding: 8px;
    }

    input, select {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    .container {
        width: 100%; /* Full width on small screens */
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    input, select, button {
        font-size: 14px;
    }

    button {
        padding: 8px;
    }

    #message {
        font-size: 16px;
    }

    #score {
        font-size: 16px;
    }
}
